$progressbar-background-color: rgba(0,0,0,0);
$progressbar-color: #3a61d6;
$progressbar-border-radius: 0px;
$progressbar-height: 15px;

.ProgressBar {
  background-color: transparent;
  .ProgressBar--bar {
    position: absolute;
    width: 100%;
    height: $progressbar-height;
    background-color: $progressbar-background-color;
    border-radius: $progressbar-border-radius;

    > div {
      background-color: $progressbar-color;
      height: 100%;
      border-radius: $progressbar-border-radius;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
    }
  }
}
